#calculator {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 180px;
}

button {
    margin: 0px;
    padding: 8px;
    border: 0px;
    background-color: white;
}

#non-zero-numbers {
    display: flex;
    flex-wrap: wrap;
    min-width: 120px;
}

#non-zero-numbers .number, #special-sign .sign {
    width: 40px;
}

#inputs {
    display: flex;
    min-height: 150px;
    width: 120px;
    flex: auto;
}

#number-sign {
    display: flex;
    flex-direction: column;
}

#special-sign {
    display: flex;
}
