body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: palevioletred
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 24rem;
    box-sizing: content-box;
    border: 2px solid black;
}

#show {
    max-width: 20rem;
    height: 8rem;
    display: flex;
    box-sizing: content-box;
    background-color: palegreen;
    justify-content: end;
    align-items: end;
    padding: 1rem;
    flex-wrap: wrap;
}

button {
    margin: 0px;
    padding: 1rem;
    border: 0px;
    background-color: skyblue;
}

#non-zero-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
}

#non-zero-numbers .number, #special-sign .sign, .operator {
    width: 5rem;
    height: 4rem;
    border: 1px solid black;
}

#inputs {
    display: flex;
    flex: auto;
}

#number-sign {
    display: flex;
    flex-direction: column;
}

#special-sign {
    display: flex;
}
