#calculator {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 24rem;
    box-sizing: content-box;
    border: 2px solid black;
}

#show {
    text-align: right;
    margin-top: auto;
    width: 20rem;
    height: 8rem;
}

button {
    margin: 0px;
    padding: 1rem;
    border: 0px;
    background-color: white;
}

#non-zero-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
}

#non-zero-numbers .number, #special-sign .sign, .operator {
    width: 5rem;
    height: 4rem;
    border: 1px solid black;
}

#inputs {
    display: flex;
    height: 16rem;
    width: 16rem;
    flex: auto;
}

#number-sign {
    display: flex;
    flex-direction: column;
}

#special-sign {
    display: flex;
}
